USE [master]
GO
/****** Object:  Database [tnt_2]    Script Date: 8/13/2025 1:26:13 PM ******/
CREATE DATABASE [tnt_2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tnt', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tnt_22.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tnt_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\tnt_22_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tnt_2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tnt_2]
GO
/****** Object:  Table [dbo].[USUARIOS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[id_usuario] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[primer_apellido] [nvarchar](255) NOT NULL,
	[segundo_apellido] [nvarchar](255) NULL,
	[correo] [nvarchar](255) NULL,
	[numero_telefono] [nvarchar](10) NULL,
	[firebase_uid] [nvarchar](255) NOT NULL,
	[tipo_usuario] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[firebase_uid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[INCIDENTES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INCIDENTES](
	[id_incidente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[fecha_incidente] [datetime] NULL,
	[url_foto] [nvarchar](255) NULL,
	[descripcion] [nvarchar](max) NULL,
	[id_usuario] [int] NULL,
	[estado_incidente] [varchar](20) NOT NULL,
	[fecha_resolucion] [datetime] NULL,
	[resuelto_por] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incidente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[IncidentesPorUsuario]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[IncidentesPorUsuario] AS
SELECT 
    i.id_incidente,
    i.nombre AS nombre_incidente,
    i.fecha_incidente,
    i.url_foto,
    i.descripcion,
    u.id_usuario
FROM INCIDENTES i
INNER JOIN USUARIOS u ON i.id_usuario = u.id_usuario;
GO
/****** Object:  Table [dbo].[EMPRESAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPRESAS](
	[id_empresa] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[fecha_registro] [date] NULL,
	[rfc] [nvarchar](20) NOT NULL,
	[id_ubicacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[rfc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_CONTENEDORES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_CONTENEDORES](
	[id_tipo_contenedor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[capacidad_maxima] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_contenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPO_RESIDUOS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPO_RESIDUOS](
	[id_tipo_residuo] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tipo_residuo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CONTENEDORES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTENEDORES](
	[id_contenedor] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fecha_registro] [date] NULL,
	[id_empresa] [int] NULL,
	[id_tipo_residuo] [int] NULL,
	[id_tipo_contenedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contenedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[ContenedoresPorEmpresa]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[ContenedoresPorEmpresa] AS
SELECT 
    c.id_contenedor,
    c.descripcion AS descripcion_contenedor,
    c.fecha_registro,
    tc.nombre AS tipo_contenedor,
    tc.capacidad_maxima,
    tr.nombre AS tipo_residuo,
	e.id_empresa,
	e.nombre
FROM CONTENEDORES c
INNER JOIN EMPRESAS e ON c.id_empresa = e.id_empresa
LEFT JOIN TIPO_CONTENEDORES tc ON c.id_tipo_contenedor = tc.id_tipo_contenedor
LEFT JOIN TIPO_RESIDUOS tr ON c.id_tipo_residuo = tr.id_tipo_residuo;
GO
/****** Object:  Table [dbo].[UBICACION]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UBICACION](
	[id_ubicacion] [int] IDENTITY(1,1) NOT NULL,
	[direccion] [nvarchar](255) NOT NULL,
	[latitud] [decimal](10, 8) NULL,
	[longitud] [decimal](11, 8) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ubicacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS](
	[id_ruta] [int] IDENTITY(1,1) NOT NULL,
	[nombre_ruta] [nvarchar](255) NOT NULL,
	[fecha_creacion] [date] NULL,
	[descripcion] [nvarchar](max) NULL,
	[estado] [varchar](20) NOT NULL,
	[id_usuario_asignado] [int] NULL,
	[progreso_ruta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTAS_EMPRESAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS_EMPRESAS](
	[id_ruta] [int] NOT NULL,
	[id_empresa] [int] NOT NULL,
	[orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC,
	[id_empresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ITINERARIOS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITINERARIOS](
	[id_itinerario] [int] IDENTITY(1,1) NOT NULL,
	[estado] [nvarchar](50) NULL,
	[fecha_programada] [date] NULL,
	[id_ruta] [int] NULL,
	[hora_inicio_real] [datetime] NULL,
	[hora_fin_real] [datetime] NULL,
	[id_aprobador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_itinerario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwItinerarioSimplificado]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vwItinerarioSimplificado] AS 
SELECT
    it.id_itinerario,
    it.estado AS estado_itinerario,
    CONVERT(date, it.fecha_programada) AS fecha_programada,
    it.hora_inicio_real,
    it.hora_fin_real,
    it.id_aprobador,
    r.id_ruta,
    r.nombre_ruta,
    r.descripcion AS descripcion_ruta,
    r.id_usuario_asignado,
    (
        SELECT
            e.id_empresa,
            e.nombre AS nombre_empresa,
            u.direccion,
            (
                SELECT DISTINCT
                    tr.id_tipo_residuo,
                    tr.nombre AS nombre_tipo_residuo
                FROM
                    CONTENEDORES c
                    INNER JOIN TIPO_RESIDUOS tr ON c.id_tipo_residuo = tr.id_tipo_residuo
                WHERE
                    c.id_empresa = e.id_empresa FOR JSON PATH
            ) AS tipos_residuos,
            (
                SELECT COUNT(*)
                FROM CONTENEDORES c
                WHERE
                    c.id_empresa = e.id_empresa
            ) AS cantidad_contenedores,
            (
                SELECT SUM(tc.capacidad_maxima)
                FROM
                    CONTENEDORES c
                    INNER JOIN TIPO_CONTENEDORES tc ON c.id_tipo_contenedor = tc.id_tipo_contenedor
                WHERE
                    c.id_empresa = e.id_empresa
            ) AS peso_estimado
        FROM (
                SELECT re.id_empresa, re.orden
                FROM RUTAS_EMPRESAS re
                WHERE
                    re.id_ruta = r.id_ruta
            ) AS empresas_ordenadas
            INNER JOIN EMPRESAS e ON empresas_ordenadas.id_empresa = e.id_empresa
            INNER JOIN UBICACION u ON e.id_ubicacion = u.id_ubicacion
        ORDER BY empresas_ordenadas.orden FOR JSON PATH
    ) AS empresas
FROM ITINERARIOS it
    INNER JOIN RUTAS r ON it.id_ruta = r.id_ruta;
GO
/****** Object:  Table [dbo].[PLANTAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANTAS](
	[id_planta] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[id_ubicacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_planta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RUTAS_PLANTAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RUTAS_PLANTAS](
	[id_ruta] [int] NOT NULL,
	[id_planta] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_ruta] ASC,
	[id_planta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vista_rutas_detalladas]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vista_rutas_detalladas] AS
SELECT        r.id_ruta, r.nombre_ruta, r.fecha_creacion, r.descripcion AS descripcion_ruta, r.estado AS estado_ruta, r.progreso_ruta, r.id_usuario_asignado,
/* Información de la planta asociada*/ p.id_planta, p.nombre AS nombre_planta, 
              up.direccion AS direccion_planta, up.latitud AS latitud_planta, up.longitud AS longitud_planta,
              /* Información de empresas en la ruta (como cadena JSON)*/ (SELECT        e.id_empresa AS 'empresa.id_empresa', e.nombre AS 'empresa.nombre', e.rfc AS 'empresa.rfc', re.orden AS 'empresa.orden', 
                                                                                                                                                                    ue.direccion AS 'empresa.direccion', ue.latitud AS 'empresa.latitud', ue.longitud AS 'empresa.longitud',
                                                                                                                                                                      (SELECT        c.id_contenedor AS 'contenedor.id_contenedor', c.descripcion AS 'contenedor.descripcion', tc.nombre AS 'contenedor.tipo_contenedor', 
                                                                                                                                                                                                                                                                                  tr.nombre AS 'contenedor.tipo_residuo', tc.capacidad_maxima AS 'contenedor.capacidad_maxima'
                                                                                                                                                                      FROM            CONTENEDORES c JOIN
                                                                                                                                                                                                      TIPO_CONTENEDORES tc ON c.id_tipo_contenedor = tc.id_tipo_contenedor JOIN
                                                                                                                                                                                                      TIPO_RESIDUOS tr ON c.id_tipo_residuo = tr.id_tipo_residuo
                                                                                                                                                                      WHERE           c.id_empresa = e.id_empresa FOR JSON PATH) AS 'empresa.contenedores'
                                                                          FROM            RUTAS_EMPRESAS re JOIN
                                                                                                          EMPRESAS e ON re.id_empresa = e.id_empresa JOIN
                                                                                                          UBICACION ue ON e.id_ubicacion = ue.id_ubicacion
                                                                          WHERE           re.id_ruta = r.id_ruta
                                                                          ORDER BY re.orden FOR JSON PATH) AS empresas_json,
              /* Información de coordenadas para el trazado (planta)*/ (SELECT        'planta' AS 'punto.tipo', p.nombre AS 'punto.nombre', up.latitud AS 'punto.latitud', up.longitud AS 'punto.longitud', - 1 AS 'punto.orden'
                                                                         FROM            PLANTAS p JOIN
                                                                                                         UBICACION up ON p.id_ubicacion = up.id_ubicacion
                                                                         WHERE           p.id_planta IN
                                                                                                         (SELECT        id_planta
                                                                                                         FROM            RUTAS_PLANTAS
                                                                                                         WHERE           id_ruta = r.id_ruta) FOR JSON PATH) AS coordenadas_inicio_json,
              /* Información de coordenadas para el trazado (empresas)*/ (SELECT        'empresa' AS 'punto.tipo', e.nombre AS 'punto.nombre', ue.latitud AS 'punto.latitud', ue.longitud AS 'punto.longitud', re.orden AS 'punto.orden'
                                                                          FROM            RUTAS_EMPRESAS re JOIN
                                                                                                          EMPRESAS e ON re.id_empresa = e.id_empresa JOIN
                                                                                                          UBICACION ue ON e.id_ubicacion = ue.id_ubicacion
                                                                          WHERE           re.id_ruta = r.id_ruta
                                                                          ORDER BY re.orden FOR JSON PATH) AS coordenadas_ruta_json
FROM            RUTAS r LEFT JOIN
              RUTAS_PLANTAS rp ON r.id_ruta = rp.id_ruta LEFT JOIN
              PLANTAS p ON rp.id_planta = p.id_planta LEFT JOIN
              UBICACION up ON p.id_ubicacion = up.id_ubicacion
WHERE           r.estado != 'CANCELADA';
GO
/****** Object:  Table [dbo].[CAMIONES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CAMIONES](
	[id_camion] [int] IDENTITY(1,1) NOT NULL,
	[placa] [nvarchar](50) NOT NULL,
	[marca] [nvarchar](255) NULL,
	[modelo] [nvarchar](255) NULL,
	[anio] [int] NULL,
	[capacidad_carga] [decimal](10, 2) NULL,
	[id_usuario] [int] NULL,
	[estado] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_camion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[placa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRO_CARGA]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRO_CARGA](
	[id_registro_carga] [int] IDENTITY(1,1) NOT NULL,
	[fecha_carga] [datetime] NULL,
	[peso_carga] [decimal](10, 2) NULL,
	[id_camion] [int] NULL,
	[id_contenedor] [int] NULL,
	[id_reporte] [int] NULL,
	[id_ruta] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_registro_carga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[detallesCamionUsuario]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[detallesCamionUsuario] AS
SELECT 
    c.id_camion,
    c.placa,
    c.marca,
    c.modelo,
    c.anio,
    c.capacidad_carga,
    c.estado,
    c.id_usuario,
    ISNULL(COUNT(rc.id_registro_carga), 0) AS total_viajes,
    MAX(rc.fecha_carga) AS ultima_fecha_viaje
FROM CAMIONES c
LEFT JOIN REGISTRO_CARGA rc ON rc.id_camion = c.id_camion
GROUP BY 
    c.id_camion, 
    c.placa,
    c.marca,
    c.modelo,
    c.anio,
    c.capacidad_carga,
    c.estado,
    c.id_usuario;
GO
/****** Object:  Table [dbo].[ALERTAS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ALERTAS](
	[id_alerta] [int] IDENTITY(1,1) NOT NULL,
	[tipo_alerta] [nvarchar](255) NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[fecha_alerta] [datetime] NULL,
	[id_sensor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_alerta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REPORTES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REPORTES](
	[id_reporte] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [nvarchar](255) NOT NULL,
	[fecha_reporte] [datetime] NULL,
	[descripcion] [nvarchar](max) NULL,
	[id_usuario] [int] NULL,
	[estado] [nvarchar](50) NULL,
	[id_contenedor] [int] NULL,
	[collected_amount] [decimal](10, 2) NULL,
	[container_status] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_reporte] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SENSORES]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SENSORES](
	[id_sensor] [int] IDENTITY(1,1) NOT NULL,
	[tipo_sensor] [nvarchar](255) NULL,
	[descripcion] [nvarchar](max) NULL,
	[dia_registro] [date] NULL,
	[id_contenedor] [int] NULL,
	[estado] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_sensor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SIMULATION_EVENTS]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIMULATION_EVENTS](
	[id_evento] [int] IDENTITY(1,1) NOT NULL,
	[tipo_evento] [nvarchar](255) NOT NULL,
	[id_usuario] [int] NULL,
	[id_ruta] [int] NULL,
	[id_contenedor] [int] NULL,
	[timestamp_evento] [datetime] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_evento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[CAMIONES] ADD  DEFAULT ('activo') FOR [estado]
GO
ALTER TABLE [dbo].[EMPRESAS] ADD  CONSTRAINT [fecha_Actual]  DEFAULT (sysdatetime()) FOR [fecha_registro]
GO
ALTER TABLE [dbo].[INCIDENTES] ADD  DEFAULT ('ABIERTO') FOR [estado_incidente]
GO
ALTER TABLE [dbo].[RUTAS] ADD  DEFAULT ('PENDIENTE') FOR [estado]
GO
ALTER TABLE [dbo].[RUTAS] ADD  DEFAULT ((0)) FOR [progreso_ruta]
GO
ALTER TABLE [dbo].[RUTAS_EMPRESAS] ADD  DEFAULT ((0)) FOR [orden]
GO
ALTER TABLE [dbo].[SENSORES] ADD  DEFAULT ('ACTIVO') FOR [estado]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ('cliente') FOR [tipo_usuario]
GO
ALTER TABLE [dbo].[ALERTAS]  WITH CHECK ADD FOREIGN KEY([id_sensor])
REFERENCES [dbo].[SENSORES] ([id_sensor])
GO
ALTER TABLE [dbo].[CAMIONES]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[CONTENEDORES]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[EMPRESAS] ([id_empresa])
GO
ALTER TABLE [dbo].[CONTENEDORES]  WITH CHECK ADD FOREIGN KEY([id_tipo_residuo])
REFERENCES [dbo].[TIPO_RESIDUOS] ([id_tipo_residuo])
GO
ALTER TABLE [dbo].[CONTENEDORES]  WITH CHECK ADD FOREIGN KEY([id_tipo_contenedor])
REFERENCES [dbo].[TIPO_CONTENEDORES] ([id_tipo_contenedor])
GO
ALTER TABLE [dbo].[EMPRESAS]  WITH CHECK ADD FOREIGN KEY([id_ubicacion])
REFERENCES [dbo].[UBICACION] ([id_ubicacion])
GO
ALTER TABLE [dbo].[INCIDENTES]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[INCIDENTES]  WITH CHECK ADD  CONSTRAINT [fk_incidente_resuelto_por] FOREIGN KEY([resuelto_por])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[INCIDENTES] CHECK CONSTRAINT [fk_incidente_resuelto_por]
GO
ALTER TABLE [dbo].[ITINERARIOS]  WITH CHECK ADD FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTAS] ([id_ruta])
GO
ALTER TABLE [dbo].[ITINERARIOS]  WITH CHECK ADD  CONSTRAINT [fk_itinerarios_aprobador] FOREIGN KEY([id_aprobador])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[ITINERARIOS] CHECK CONSTRAINT [fk_itinerarios_aprobador]
GO
ALTER TABLE [dbo].[PLANTAS]  WITH CHECK ADD FOREIGN KEY([id_ubicacion])
REFERENCES [dbo].[UBICACION] ([id_ubicacion])
GO
ALTER TABLE [dbo].[REGISTRO_CARGA]  WITH CHECK ADD FOREIGN KEY([id_camion])
REFERENCES [dbo].[CAMIONES] ([id_camion])
GO
ALTER TABLE [dbo].[REGISTRO_CARGA]  WITH CHECK ADD FOREIGN KEY([id_contenedor])
REFERENCES [dbo].[CONTENEDORES] ([id_contenedor])
GO
ALTER TABLE [dbo].[REGISTRO_CARGA]  WITH CHECK ADD  CONSTRAINT [FK_RegistroCarga_Reporte] FOREIGN KEY([id_reporte])
REFERENCES [dbo].[REPORTES] ([id_reporte])
GO
ALTER TABLE [dbo].[REGISTRO_CARGA] CHECK CONSTRAINT [FK_RegistroCarga_Reporte]
GO
ALTER TABLE [dbo].[REGISTRO_CARGA]  WITH CHECK ADD  CONSTRAINT [FK_RegistroCarga_Rutas] FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTAS] ([id_ruta])
GO
ALTER TABLE [dbo].[REGISTRO_CARGA] CHECK CONSTRAINT [FK_RegistroCarga_Rutas]
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[REPORTES]  WITH CHECK ADD  CONSTRAINT [FK_REPORTE_CONTENEDOR] FOREIGN KEY([id_contenedor])
REFERENCES [dbo].[CONTENEDORES] ([id_contenedor])
GO
ALTER TABLE [dbo].[REPORTES] CHECK CONSTRAINT [FK_REPORTE_CONTENEDOR]
GO
ALTER TABLE [dbo].[RUTAS]  WITH CHECK ADD  CONSTRAINT [fk_ruta_usuario] FOREIGN KEY([id_usuario_asignado])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[RUTAS] CHECK CONSTRAINT [fk_ruta_usuario]
GO
ALTER TABLE [dbo].[RUTAS_EMPRESAS]  WITH CHECK ADD FOREIGN KEY([id_empresa])
REFERENCES [dbo].[EMPRESAS] ([id_empresa])
GO
ALTER TABLE [dbo].[RUTAS_EMPRESAS]  WITH CHECK ADD FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTAS] ([id_ruta])
GO
ALTER TABLE [dbo].[RUTAS_PLANTAS]  WITH CHECK ADD FOREIGN KEY([id_planta])
REFERENCES [dbo].[PLANTAS] ([id_planta])
GO
ALTER TABLE [dbo].[RUTAS_PLANTAS]  WITH CHECK ADD FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTAS] ([id_ruta])
GO
ALTER TABLE [dbo].[SENSORES]  WITH CHECK ADD FOREIGN KEY([id_contenedor])
REFERENCES [dbo].[CONTENEDORES] ([id_contenedor])
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_SimulationEvents_Containers] FOREIGN KEY([id_contenedor])
REFERENCES [dbo].[CONTENEDORES] ([id_contenedor])
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS] CHECK CONSTRAINT [FK_SimulationEvents_Containers]
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_SimulationEvents_Routes] FOREIGN KEY([id_ruta])
REFERENCES [dbo].[RUTAS] ([id_ruta])
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS] CHECK CONSTRAINT [FK_SimulationEvents_Routes]
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS]  WITH CHECK ADD  CONSTRAINT [FK_SimulationEvents_Users] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[USUARIOS] ([id_usuario])
GO
ALTER TABLE [dbo].[SIMULATION_EVENTS] CHECK CONSTRAINT [FK_SimulationEvents_Users]
GO
ALTER TABLE [dbo].[CAMIONES]  WITH CHECK ADD  CONSTRAINT [chk_camion_capacidad] CHECK  (([capacidad_carga]>(0)))
GO
ALTER TABLE [dbo].[CAMIONES] CHECK CONSTRAINT [chk_camion_capacidad]
GO
ALTER TABLE [dbo].[INCIDENTES]  WITH CHECK ADD  CONSTRAINT [chk_estado_incidente] CHECK  (([estado_incidente]='CERRADO' OR [estado_incidente]='ABIERTO'))
GO
ALTER TABLE [dbo].[INCIDENTES] CHECK CONSTRAINT [chk_estado_incidente]
GO
ALTER TABLE [dbo].[RUTAS]  WITH CHECK ADD  CONSTRAINT [chk_estado_ruta] CHECK  (([estado]='INICIADA' OR [estado]='PENDIENTE' OR [estado]='EN_PROCESO' OR [estado]='FINALIZADA' OR [estado]='CANCELADA'))
GO
ALTER TABLE [dbo].[RUTAS] CHECK CONSTRAINT [chk_estado_ruta]
GO
ALTER TABLE [dbo].[SENSORES]  WITH CHECK ADD  CONSTRAINT [chk_estado_sensor] CHECK  (([estado]='INACTIVO' OR [estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[SENSORES] CHECK CONSTRAINT [chk_estado_sensor]
GO
ALTER TABLE [dbo].[TIPO_CONTENEDORES]  WITH CHECK ADD  CONSTRAINT [chk_contenedor_capacidad] CHECK  (([capacidad_maxima]>(0)))
GO
ALTER TABLE [dbo].[TIPO_CONTENEDORES] CHECK CONSTRAINT [chk_contenedor_capacidad]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [chk_tipo_usuario] CHECK  (([tipo_usuario]='cliente' OR [tipo_usuario]='recolector' OR [tipo_usuario]='admin'))
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [chk_tipo_usuario]
GO
/****** Object:  StoredProcedure [dbo].[AsignarRutaARecolector]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[AsignarRutaARecolector]
    @id_ruta INT,
    @id_recolector INT,
    @id_aprobador INT,
    @fecha_programada DATETIME
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el aprobador sea un ADMIN
    IF NOT EXISTS (
        SELECT 1 FROM USUARIOS
        WHERE id_usuario = @id_aprobador AND tipo_usuario = 'ADMIN'
    )
    BEGIN
        RAISERROR('El aprobador debe ser un ADMIN.', 16, 1);
        RETURN;
    END

    -- Validar que el asignado sea un RECOLECTOR
    IF NOT EXISTS (
        SELECT 1 FROM USUARIOS
        WHERE id_usuario = @id_recolector AND tipo_usuario = 'RECOLECTOR'
    )
    BEGIN
        RAISERROR('El usuario asignado debe ser un RECOLECTOR.', 16, 1);
        RETURN;
    END

    -- Validar que la ruta exista
    IF NOT EXISTS (
        SELECT 1 FROM RUTAS WHERE id_ruta = @id_ruta
    )
    BEGIN
        RAISERROR('La ruta especificada no existe.', 16, 1);
        RETURN;
    END

    -- Validar que la ruta NO esté ya asignada
    IF EXISTS (
        SELECT 1 FROM RUTAS
        WHERE id_ruta = @id_ruta AND id_usuario_asignado IS NOT NULL
    )
    BEGIN
        RAISERROR('La ruta ya tiene un recolector asignado.', 16, 1);
        RETURN;
    END

    -- Asignar el recolector en la tabla RUTAS
    UPDATE RUTAS
    SET id_usuario_asignado = @id_recolector
    WHERE id_ruta = @id_ruta;

    -- Verificar si ya hay un itinerario pendiente para esta ruta
    IF NOT EXISTS (
        SELECT 1 FROM ITINERARIOS
        WHERE id_ruta = @id_ruta AND estado = 'PENDIENTE'
    )
    BEGIN
        -- Crear nuevo itinerario solo si no hay uno pendiente
        INSERT INTO ITINERARIOS (
            estado,
            fecha_programada,
            id_ruta,
            hora_inicio_real,
            hora_fin_real,
            id_aprobador
        )
        VALUES (
            'PENDIENTE',
            @fecha_programada,
            @id_ruta,
            NULL,
            NULL,
            @id_aprobador
        );
    END

    PRINT 'Ruta asignada correctamente al recolector.';
END;
GO
/****** Object:  StoredProcedure [dbo].[LiberarRutaAsignada]    Script Date: 8/13/2025 1:26:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LiberarRutaAsignada]
    @id_ruta INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar que la ruta exista
    IF NOT EXISTS (
        SELECT 1 FROM RUTAS WHERE id_ruta = @id_ruta
    )
    BEGIN
        RAISERROR('La ruta especificada no existe.', 16, 1);
        RETURN;
    END

    -- Cancelar el itinerario pendiente (si existe)
    UPDATE ITINERARIOS
    SET estado = 'CANCELADO'
    WHERE id_ruta = @id_ruta;

    -- Liberar la ruta (quitar usuario asignado)
    UPDATE RUTAS
    SET id_usuario_asignado = NULL,
	estado = 'PENDIENTE',
	progreso_ruta = 0
    WHERE id_ruta = @id_ruta;

    PRINT 'Ruta liberada y itinerario cancelado correctamente.';
END;
GO
USE [master]
GO
